<ion-header>
  <ion-toolbar>
    <ion-button color= "light" slot="start" shape ="round" routerLink="/profile">Go to profile</ion-button>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 <ion-grid *ngIf="user">
   <ion-row>
     <ion-label>Privacy Options</ion-label>
   </ion-row>
   <ion-row>
     <ion-select [interfaceOptions]="customPopoverOptionsPrivacy" interface="popover" placeholder="Select who can see your events">
       <ion-select-option value="0">Allow friends</ion-select-option>
       <ion-select-option value="1">Allow everyone</ion-select-option>
     </ion-select>
   </ion-row>
   <ion-row>
     <ion-label> Personal Information </ion-label>
   </ion-row>
   <ion-row>
     <ion-col>
       <ion-label>Your name: </ion-label>
       <ion-input  [disabled]="this.nameDisabled"  [(value)]="user.name"> </ion-input>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-button (click) = "toggleName()">Change</ion-button>
   </ion-row>
   <ion-row>
     <ion-col>
       <ion-label>Your email: </ion-label>
       <ion-input  [disabled]="this.emailDisabled"  [(value)] = "user.email"></ion-input>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-button (click) = "toggleEmail()">Change</ion-button>
   </ion-row>
   <ion-row>
     <ion-col>
       <ion-label>Your Interests:</ion-label>
       <ion-select [interfaceOptions]="customPopoverOptionsInterests" multiple="true">
         <ion-select-option *ngFor="let interest of interests" [selected]="true" [value]="interest">{{interest}}</ion-select-option>
       </ion-select>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-label>Your birthday</ion-label>
   </ion-row>
   <ion-row>
     <ion-col>
       <ion-datetime  [disabled]="this.birthDisabled" display-format="DD-MM-YYYY" [(value)] = "user.birth"></ion-datetime>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-button (click) = "toggleBirth()">Change</ion-button>
   </ion-row>
   <ion-row>
     <ion-col>
       <ion-label>Nationality: </ion-label>
       <ion-input [(value)]="user.nationality"></ion-input>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-button (click) = "toggleNationality()">Change</ion-button>
   </ion-row>
   <ion-row>
     <ion-col>
       <ion-label>City: </ion-label>
       <ion-input [(value)]="user.city"></ion-input>
     </ion-col>
   </ion-row>
   <ion-row>
     <ion-button (click) = "toggleCity()">Change</ion-button>
   </ion-row>
 </ion-grid>

  <ion-button (click) = "save()">Save</ion-button>
</ion-content>
