.map-container {
  position: relative;
  width: 100%;
  height: 100%;

  .search-container {
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  agm-map {
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}