<ion-header>
  <app-toolbar></app-toolbar>
</ion-header>
<ion-content main padding>
  <div *ngIf="!events">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-fab class="edit-fab" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="edit-button" routerLink="/feed/create">
      <ion-icon size="large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="events-container" *ngIf="events">
    <ion-grid>
      <ion-row justify-content-center no-padding>
        <ion-col size-xs="12" size-md="8" size-lg="6">
          <div class="feed-card">
            <app-event-card *ngFor="let event of events" [event]="event"></app-event-card>
          </div>
        </ion-col>
        <!--
        <ion-col class="search-desktop" size-md="4">
          <app-search></app-search>
        </ion-col>
        -->
      </ion-row>
      <ion-row *ngIf="!loaded" justify-content-center padding-top>
        <ion-chip *ngIf="interests && interests.length === 0" color="primary" (click)="stateInterests()">State your interests to find out more events!</ion-chip>
        <ion-chip (click)="refresh()">Refresh</ion-chip>
      </ion-row>
      <ion-infinite-scroll *ngIf="loaded" threshold="200px" (ionInfinite)="load($event)">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="Loading more entries...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ion-grid>
  </div>
</ion-content>
