<ion-header>
  <ion-toolbar>
    <ion-menu-button color="tertiary" slot="primary"></ion-menu-button>
    <ion-title>
      Actopus
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-menu>
  <ion-list>
    <ion-item routerLink="/feed">
      Feed
    </ion-item>
    <ion-item routerLink="/profile">
      Profile
    </ion-item>
    <ion-item color="danger" (click)="logout()">
      Sign out
    </ion-item>
  </ion-list>
</ion-menu>

<ion-content main padding>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/feed/create">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row *ngFor="let event of events" justify-content-center no-padding>
      <ion-col size-xs="12">
        <div class="feed-card">
          <app-event-card [event]="event" [routerLink]="'/feed/' + event._id"></app-event-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
