<ion-card>

  <ion-card-content>
    <div class="image">
      <img src="{{event.medias[0]}}" alt="{{event.name}}">
    </div>
    <div class="date">
      {{event.date | date:'dd MMM'}}
    </div>
    <h2>
      {{event.name}}
    </h2>
    <div class="location">
      {{event.locationConstruct.locationName}}
    </div>
  </ion-card-content>

  <ion-card-content *ngIf="!isUndefined(event.vote)">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="3">
          <ion-grid no-padding="">
            <ion-row no-padding>
              <ion-col size="6" no-padding>
                <ion-button [disabled]="view"color="success" fill="clear">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{event.vote.upvoteCount}}</div>
                </ion-button>
              </ion-col>
              <ion-col text-center size="6" no-padding>
                <ion-button [disabled]="view" color="danger" fill="clear">
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>{{event.vote.downvoteCount}}</div>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col text-center size="6">
          <ion-button [disabled]="view" color="secondary" fill="clear">
            <ion-icon name="text"></ion-icon>
            <div>{{event.comments.length}} Comments</div>
          </ion-button>
        </ion-col>
        <ion-col class="ago-container" size="3">
          <div>
            {{timeDiff}} {{timeDiffUnit}} ago
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button [disabled]="view" expand="full" [routerLink]="event._id">
            More Details
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-card-content>

</ion-card>
