<ion-card *ngIf="event; let e" [routerLink]="['/feed', e._id]">
  <ion-card-content>
    <div class="preview-container">
      <div class="tags-container">
        <span *ngIf="e.artists?.length" class="tag">
          {{e.artists[0] | titlecase}}
        </span>
        <span class="tag">
          {{e.price.amount == 0 ? 'Free' : e.price.amount + ' ' + e.price.currency}}
        </span>
      </div>
      <div class="media-container">
        <app-slider [media]="e.media" [options]="{ empty: false, buttons: false }"></app-slider>
      </div>
    </div>
    <div class="date">
      {{e.date | date:'dd MMM'}}
    </div>
    <h2>
      {{e.name}}
    </h2>
    <div class="location">
      {{e.location?.name}}
    </div>
  </ion-card-content>

  <ion-card-content *ngIf="!isUndefined(e.vote)">
    <ion-grid no-padding>
      <ion-row>
        <ion-col size="3">
          <ion-grid no-padding="">
            <ion-row no-padding>
              <ion-col size="6" no-padding>
                <ion-button (click)="vote($event, 1)" [disabled]="view || upVoted" color="success" fill="clear">
                  <ion-icon name="thumbs-up"></ion-icon>
                  <div>{{e.vote.positive.length}}</div>
                </ion-button>
              </ion-col>
              <ion-col text-center size="6" no-padding>
                <ion-button (click)="vote($event, -1)" [disabled]="view || downVoted" color="danger" fill="clear">
                  <ion-icon name="thumbs-down"></ion-icon>
                  <div>{{e.vote.negative.length}}</div>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col text-center size="6">
          <ion-button [disabled]="view" color="secondary" fill="clear" (click)="goComments($event)">
            <ion-icon name="text"></ion-icon>
            <div>{{e.comments.length}} Comments</div>
          </ion-button>
        </ion-col>
        <ion-col class="ago-container" size="3">
          <div>
            {{timeDiff}} {{timeDiffUnit}} {{timeDiffText}}
          </div>
        </ion-col>
      </ion-row>
      <!--
      <ion-row>
        <ion-col>
          <ion-button [disabled]="view" expand="full" [routerLink]="['/feed', e._id]">
            More Details
          </ion-button>
        </ion-col>
      </ion-row>-->
    </ion-grid>


  </ion-card-content>

</ion-card>
