

<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-menu-button color="tertiary" slot="primary">

      </ion-menu-button>
      <ion-title>
        Actopus
      </ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-menu>
    <ion-item [href]="'/event'" >
      Event
    </ion-item>
    <ion-item [href]="'/profile'" >
      Profile
    </ion-item>
    <ion-item [href]="'/home'" >
      Feed
    </ion-item>
  </ion-menu>
  <ion-content main padding>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
