

<ion-app>

  <ion-header>
    <ion-toolbar>
      <ion-menu-button color="tertiary" slot="primary">

      </ion-menu-button>
      <ion-title>
        Actopus
      </ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-menu>

    <ion-header>
      <ion-toolbar>
        <ion-title>Navigate in Actopus</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-button  expand ="full"[href]="'/home'"  >
          Home
        </ion-button>
        <ion-button  expand ="full" [href]="'/event'" >
          Event
        </ion-button>
        <ion-button expand ="full" [href]="'/profile'" >
          Profile
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content main padding>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
