<ion-content color="light" padding>
  <div class="auth-container">
    <div class="icon-container">
      <img src="assets/logo.png">
    </div>

    <div class="form-container" margin padding>
      <form [formGroup]="form" (ngSubmit)="forgotPassword()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked"><b>Email</b></ion-label>
            <ion-input type="email" placeholder="Email" formControlName="email" value=""></ion-input>
          </ion-item>
          <ion-label text-wrap class="notify" *ngIf="this.form.get('email').dirty && !this.form.get('email').valid">Your e-mail should include a name, @ sign, and a domain afterwards.</ion-label>

        </ion-list>
        <ion-button type="submit" [disabled]="!form.valid" expand="block">Send Login Link</ion-button>
      </form>
    </div>

    <div class="form-container" margin>
      <p text-center class="auth-text">New to Actopus? <a color="secondary" [routerLink]="'/signup'">Create an account.</a></p>
      <p text-center class="auth-text">Click here to <a color="secondary" [routerLink]="'/signin'">sign in.</a></p>
    </div>

    <p text-center padding class="auth-text">Copyright 2018 @Actopus</p>
  </div>
</ion-content>
