<div class="yellowishBackColor" padding>
<ion-label color="primary">Annotation:</ion-label>
  <hr size="5">
<div *ngIf="annotationClicked && annotationClicked.data.user">
  <b>{{ annotationClicked.data.value | json}}</b>
<br>
<div>
  <img *ngIf="annotationClicked.data.profileImage" src="{{annotationClicked.data.profileImage}}" alt="">
  <p>by <a target="_blank" routerLink="profile/public/{{annotationClicked.data.user.id}}">{{annotationClicked.data.user.name}}</a>
  </p>
</div>
</div>
<div *ngIf="annotationClicked && !annotationClicked.data.user">
  <b>{{ annotationClicked.data.value | json}}</b>
  <br>
  <p>by Anonymous</p>
</div>
</div>
