<ion-content color="light" padding>
  <div class="auth-container">
    <div class="icon-container">
      <img src="assets/logo.png">
    </div>

    <div class="form-container" margin padding>
      <form [formGroup]="form" (ngSubmit)="changePassword()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked">
              <b>New Password</b>
            </ion-label>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <ion-label text-wrap class="notify" *ngIf="this.form.get('password').dirty && !this.form.get('password').valid">Your password should consist of at least 8 characters.</ion-label>
        </ion-list>
        <ion-button type="submit" [disabled]="!form.valid" expand="block">Change Password</ion-button>
      </form>
    </div>

    <p text-center padding class="auth-text">Copyright 2018 @Actopus</p>
  </div>
</ion-content>
