<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding *ngIf="user; let u">
  <img src='{{u.profileImage}}'/>
  <ion-label>{{u.firstName +' ' + u.lastName}}</ion-label>
  <ion-label>Your email: {{u.email}}</ion-label>
  <ion-label color="primary">Interests</ion-label>
  <ion-select multiple="true" >
    <ion-select-option *ngFor="let interest of interests" value="{{interest}}">{{interest}}</ion-select-option>
  </ion-select>


  <ion-buttons>
    <ion-list>
      <ion-item>
        <ion-button color="primary">
          Your timeline
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary">
          Settings
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary">
          Your followers
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary">
         Your are following
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button color="primary">
          Notifications
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-buttons>

</ion-content>
