textarea{
  height: 50vh;
  width: 500px;
  resize : none;
}
.bg-blue {
  background-color: lightblue;
}
.bg-pink {
  background-color: lightcoral;
}
.bg-blue-dark {
  background-color: #86c5da;
}
.bg-pink-dark {
  background-color: #eb5252;
}
.blackBorder{
  border: 2px solid black;
}
.purpleBorder{
  border: 2px solid purple;
}
