<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Garamond'; font-weight: bold;">
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="createEvent()">

  <ion-list class="createList">

    <ion-item>
      <ion-label> Event Title : </ion-label>
      <ion-input type="text" value="" max="150" formControlName="name" class="inputStyle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Description : </ion-label>
      <ion-textarea style="height : auto;" formControlName="description" class="inputStyle"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label> Owner : </ion-label>
      <ion-input type="text" value="" formControlName="owner" class="inputStyle"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> Date : </ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" formControlName="date" class="inputStyle"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label> Price : </ion-label>
      <ion-input align='right' type="number" formControlName="price" class="inputStyle"> {{currency.value}}</ion-input>
    </ion-item>

   <ion-item>
     <ion-select mode="md" #currency placeholder="Select currency">
       <ion-select-option value ='₺' >Turkish Lira</ion-select-option>
       <ion-select-option value ='$' >Dollars</ion-select-option>
       <ion-select-option value ='€' >Euro</ion-select-option>
     </ion-select>
   </ion-item>

  </ion-list>

  <ion-item>
    <ion-button full outline color="dark" type="submit" [disabled]="!form.valid">
      <ion-icon name="share" small></ion-icon>
      Share your experience
    </ion-button>
  </ion-item>

  </form>
</ion-content>
