<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Garamond'; font-weight: bold;">
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <form [formGroup]="form" (ngSubmit)="createEvent()">

          <ion-list>

            <ion-item>
              <ion-label position="floating">
                Name of the event
                <span class="input-required">
                  *
                </span>
                <span class="input-error" *ngIf="this.form.get('name').dirty && !this.form.get('name').valid">
                  (your event should have a name)
                </span>
              </ion-label>
              <ion-input type="text"
                         max="150"
                         formControlName="name"
                         class="form-input">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Describe your event
                <span class="input-required">
                  *
                </span>
                <span class="input-error" *ngIf="this.form.get('description').dirty && !this.form.get('description').valid">
                  (you should describe your event, min: 20 character)
                </span>
              </ion-label>
              <ion-textarea type="text"
                         formControlName="description"
                         class="form-input">
              </ion-textarea>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                When it will start
                <span class="input-required">
                  *
                </span>
                <span class="input-error" *ngIf="this.form.get('datetime').dirty && !this.form.get('datetime').valid">
                  (you should specify start date and time)
                </span>
              </ion-label>
              <ion-datetime
                            display-format="DD MMMM DDDD HH:mm, YYYY"
                            picker-format="DD MMM HH mm YYYY"
                            formControlName="datetime"
                            class="form-input">
              </ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                Where it will happen
                <span class="input-required">
                  *
                </span>
                <span class="input-error" *ngIf="this.form.get('location').dirty && !this.form.get('location').valid">
                  (you should specify location name)
                </span>
              </ion-label>
              <ion-input
                type="text"
                formControlName="location"
                class="form-input">
              </ion-input>
            </ion-item>

            <ion-item>
              <ion-label>
                Your event is free
                <ion-toggle checked formControlName="isFree">
                </ion-toggle>
              </ion-label>
            </ion-item>

            <ion-item>
              <ion-label position="floating">
                What is its price
                <span class="input-required">
                  *
                </span>
                <span class="input-error" *ngIf="this.form.get('location').dirty && !this.form.get('location').valid">
                  (you should specify price)
                </span>
              </ion-label>
              <ion-input
                align='right'
                type="number"
                formControlName="price"
                class="inputStyle">{{currency.value}}
              </ion-input>

              <ion-select mode="md" #currency placeholder="Select currency">
                <ion-select-option value ='₺' >Turkish Lira</ion-select-option>
                <ion-select-option value ='$' >Dollars</ion-select-option>
                <ion-select-option value ='€' >Euro</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-list>

          <ion-item>
            <ion-button full outline color="dark" type="submit" [disabled]="!form.valid">
              <ion-icon name="share" small></ion-icon>
              Share your experience
            </ion-button>
          </ion-item>

        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
