<ion-header>
  <app-toolbar [backButton]="true" [href]="'/feed'"></app-toolbar>
  <!--
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: 'Garamond'; font-weight: bold;">
      Event
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  <div class="event-create-container">
    <ion-grid>
      <ion-row>
        <ion-col size-xs="12" size-md="6">
          <ion-card class="event-form-container">
            <h1 text-center>
              Create your event
            </h1>
            <form [formGroup]="form" (ngSubmit)="createEvent()">
              <div class="media-container">
                <app-slider [media]="media" (onEvent)="onEvent($event)"></app-slider>
              </div>

              <ion-list lines="none">

                <!--
                <ion-item>
                  <div class="event-image">
                    <img #eventImage
                         (error)="onImageError()"
                         (load)="onImageLoad()"
                         [src]="this.form.get('medias').value[0]"
                         alt="Event image">
                  </div>
                </ion-item>
                -->
                <ion-item-group formArrayName="medias">
                  <ion-item *ngFor="let media of medias.controls; let i = index">
                    <ion-label position="stacked">
                      Url of the image
                      <span class="input-required">
                  *
                </span>
                      <span class="input-error" *ngIf="media.dirty && !media.valid">
                  (you should add an image link)
                </span>
                    </ion-label>
                    <ion-input type="url"
                               [formControlName]="i"
                               class="form-input">
                    </ion-input>
                  </ion-item>
                </ion-item-group>

                <ion-item>
                  <ion-label position="stacked">
                    Name of the event
                    <span class="input-required">
                  *
                </span>
                    <span class="input-error" *ngIf="this.form.get('name').dirty && !this.form.get('name').valid">
                  (your event should have a name)
                </span>
                  </ion-label>
                  <ion-input type="text"
                             max="150"
                             formControlName="name"
                             class="form-input">
                  </ion-input>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">
                    Describe your event
                    <span class="input-required">
                  *
                </span>
                    <span class="input-error" *ngIf="this.form.get('description').dirty && !this.form.get('description').valid">
                  (you should describe your event, min: 20 character)
                </span>
                  </ion-label>
                  <ion-textarea type="text"
                                rows = "8"
                                formControlName="description"
                                class="form-input">
                  </ion-textarea>
                </ion-item>

                <ion-item>
                  <ion-label position="stacked">
                    When it will start
                    <span class="input-required">
                  *
                </span>
                    <span class="input-error" *ngIf="this.form.get('date').dirty && !this.form.get('date').valid">
                  (you should specify start date and time)
                </span>
                  </ion-label>
                  <ion-datetime
                    display-format="DD MMMM DDDD HH:mm, YYYY"
                    picker-format="DD MMM HH mm YYYY"
                    [min]="eventMinDate"
                    formControlName="date"
                    placeholder="Choose a date"
                    class="form-input">
                  </ion-datetime>
                </ion-item>

                <ion-item-group formGroupName="duration">
                  <ion-grid>
                    <ion-row>
                      <ion-col size="9">
                        <ion-item>
                          <ion-label position="stacked">
                            How long it will take
                            <span class="input-required">
                              *
                            </span>
                            <span class="input-error" *ngIf="this.form.get('date').dirty && !this.form.get('date').valid">
                              (you should specify the duration)
                            </span>
                          </ion-label>
                          <ion-input
                            type="number"
                            formControlName="length"
                            class="form-input">{{duration.value}}
                          </ion-input>
                        </ion-item>
                      </ion-col>
                      <ion-col size="3">
                        <ion-item>
                          <ion-label position="stacked">
                            Time unit
                            <span class="input-required">
                              *
                            </span>
                            <span class="input-error" *ngIf="this.form.get('date').dirty && !this.form.get('date').valid">
                              (you should specify the time unit)
                            </span>
                          </ion-label>
                          <ion-select class="form-input" formControlName="unit" mode="md" #duration placeholder="Select time unit">
                            <ion-select-option value ='minute' >Minute</ion-select-option>
                            <ion-select-option value ='hour' >Hour</ion-select-option>
                            <ion-select-option value ='day' >Day</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item-group>

                <ion-item formGroupName="location">
                  <ion-label position="stacked">
                    Where it will happen
                    <span class="input-required">
                  *
                </span>
                    <span class="input-error" *ngIf="this.form.get('location').get('name').dirty && !this.form.get('location').get('name').valid">
                  (you should specify location name)
                </span>
                  </ion-label>
                  <ion-input
                    type="text"
                    formControlName="name"
                    class="form-input">
                  </ion-input>
                </ion-item>

                <ion-item-group>
                  <ion-item>
                    <ion-label>
                      Your event is free
                    </ion-label>
                    <ion-toggle item-content [checked]="this.form.get('isFree').value" formControlName="isFree">
                    </ion-toggle>
                  </ion-item>

                  <ion-item-group formGroupName="price" *ngIf="!this.form.get('isFree').value">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="9">
                          <ion-item>
                            <ion-label position="stacked">
                              What is its price
                              <span class="input-required">
                                *
                              </span>
                              <span class="input-error" *ngIf="this.form.get('price').get('amount').dirty && !this.form.get('price').get('amount').valid">
                                (you should specify price)
                              </span>
                            </ion-label>
                            <ion-input
                              align="right"
                              type="number"
                              formControlName="amount"
                              class="form-input">{{currency.value}}
                            </ion-input>
                          </ion-item>
                        </ion-col>
                        <ion-col size="3">
                          <ion-item>
                            <ion-label position="stacked">
                                Price unit
                                <span class="input-required">
                                *
                              </span>
                              <span class="input-error" *ngIf="this.form.get('price').get('amount').dirty && !this.form.get('price').get('amount').valid">
                                (you should specify price unit)
                              </span>
                            </ion-label>
                            <ion-select formControlName="currency" mode="md" #currency placeholder="Select currency">
                              <ion-select-option value ='₺' >Turkish Lira</ion-select-option>
                              <ion-select-option value ='$' >Dollars</ion-select-option>
                              <ion-select-option value ='€' >Euro</ion-select-option>
                            </ion-select>
                          </ion-item>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item-group>
                </ion-item-group>

                <ion-item-group formArrayName="artists">
                  <ion-item>
                    <ion-label>
                      Add an artist/artists
                    </ion-label>
                    <ion-button item-content (click)="addArtist()">
                      +
                    </ion-button>
                  </ion-item>
                  <ion-item *ngFor="let artist of artists.controls; let i=index">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="11">
                          <ion-input
                            type="text"
                            [formControlName]="i"
                            [placeholder]="'Artist' + (i+1)"
                            class="form-input" item-content>
                          </ion-input>
                        </ion-col>
                        <ion-col size="1">
                          <ion-button item-end (click)="removeArtist(i)">
                            -
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-item-group>
                <ion-item-group formArrayName="tags">
                  <ion-item>
                    <ion-label>
                      Add a tag/tags
                    </ion-label>
                    <ion-button item-content (click)="addTag()">
                      +
                    </ion-button>
                  </ion-item>
                  <ion-item *ngFor="let tag of tags.controls; let i=index">
                    <ion-grid>
                      <ion-row>
                        <ion-col size="11">
                          <ion-input
                            type="text"
                            [formControlName]="i"
                            [placeholder]="'Tag' + (i+1)"
                            class="form-input" item-content>
                          </ion-input>
                        </ion-col>
                        <ion-col size="1">
                          <ion-button item-end (click)="removeTag(i)">
                            -
                          </ion-button>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-item>
                </ion-item-group>
                <ion-button expand="block" type="submit" [disabled]="!form.valid">
                  <ion-icon name="share"></ion-icon>
                  Share your experience
                </ion-button>
              </ion-list>

            </form>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-md="6">
          <h2 text-center>Preview of event:</h2>
          <app-event-card [event]="form.value" [view]="true">

          </app-event-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
