<ion-content padding-bottom padding-top>
  <ion-item>
    <ion-label position="fixed">Min Price</ion-label>
    <ion-input type="number" [min]="0" [max]="price.max" [(ngModel)]="price.min"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Max Price</ion-label>
    <ion-input type="number" [min]="price.min" [(ngModel)]="price.max"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="fixed">Currency</ion-label>
    <ion-select [(ngModel)]="price.currency">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value ="₺">Lira</ion-select-option>
      <ion-select-option value ="$">Dollars</ion-select-option>
      <ion-select-option value ="€">Euro</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar text-center>
    <ion-button [disabled]="!(price.min || price.max || price.currency)" (click)="save()">Filter</ion-button>
  </ion-toolbar>
</ion-footer>