<ion-toolbar>
  <ion-title>
    <ion-label *ngIf="searchingUsers">Search User</ion-label>
    <ion-label *ngIf="!searchingUsers">Search Event</ion-label>
  </ion-title>
  <ion-item>
    <ion-label position="fixed">Toggle</ion-label>
    <ion-toggle slot="start" [(ngModel)]="searchingUsers"></ion-toggle>
  </ion-item>
</ion-toolbar>
<ion-content padding *ngIf ="searchingUsers">
  <ion-label position="fixed">Search Users</ion-label>
  <hr>
  <ion-label position="stacked">Enter name:</ion-label>
  <ion-searchbar  [formControl]="username" placeholder="Name to search:"></ion-searchbar>
  <a routerLink="/profile/public/5c044e75eb42a65599b562c5">Kemal Tulum</a>
  <hr>
  <ion-button [disabled]="!(username.dirty && username.valid)" (click) ="searchUser()">Search</ion-button>
</ion-content>
<ion-content padding *ngIf ="!searchingUsers">
  <ion-tabs>
  <ion-tab label="Semantic" tab="semantic" icon="pricetag">
    <div>
      <ion-label>Semantic Search</ion-label>
      <hr>
        <ion-label *ngFor="let selectedTag of selectedTags;"  class="selectedTags"  (click)="removeSelectedTag(selectedTag)">{{selectedTag}}<ion-icon class="close" name="close"></ion-icon></ion-label>
      <ion-searchbar (ionChange)="updateFitOnes()" slot="start" okText="Okay" cancelText="Dismiss" [formControl]="tags">
      </ion-searchbar>
      <ion-button [disabled]="!tags.dirty || !tags.valid" (click)="searchByTags()" >Search</ion-button>
      <ion-list>
        <ion-item (click)="addToSelected(i)" *ngFor="let i of fitOnes" >{{i}}</ion-item>
      </ion-list>
    </div>
  </ion-tab>
  <ion-tab label="Content" tab="content" icon="book">
    <div>
      <ion-label position="stacked">Content Search</ion-label>
      <ion-searchbar slot="start" [formControl]="content" placeholder="Enter keyword(s):"></ion-searchbar>
      <ion-button [disabled]="!(content.dirty && content.valid)" (click)="search()">Search</ion-button>
    </div>
  </ion-tab>
  <ion-tab label="Location" tab="location" icon="map">
    <div>
      <ion-label position="stacked">Location Based Search </ion-label>
      <ion-searchbar  [formControl]="location" placeholder="Select a location:"></ion-searchbar>
      <ion-button [disabled]="!(location.dirty && location.valid)" (click)="searchLocation()">Search</ion-button>
    </div>
  </ion-tab>
  <ion-tab label="Time" tab="time" icon="time">
      <form [formGroup]="timeForm" (ngSubmit)="searchTime()" (keyup.enter)="timeForm.valid ? searchTime() : showErrorTime()" >
        <ion-label>Time Search</ion-label>
        <hr>
        <ion-label position = "fixed">From:</ion-label><ion-datetime [formControl]="fromTime"></ion-datetime>
        <ion-label position = "fixed">To: </ion-label><ion-datetime [formControl]="toTime"></ion-datetime>
        <ion-button  type="submit" [disabled]="!timeForm.dirty || !timeForm.valid" expand="block">Search</ion-button>
      </form>
  </ion-tab>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="semantic">
     <ion-label>Semantic</ion-label>
      <ion-icon name="pricetag"></ion-icon>
    </ion-tab-button>
     <ion-tab-button tab="content">
      <ion-label>Content</ion-label>
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
      <ion-tab-button tab="location">
        <ion-label>Location</ion-label>
        <ion-icon name="map"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="time">
        <ion-label>Time</ion-label>
        <ion-icon name="time"></ion-icon>
      </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
</ion-content>
