<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/feed"></ion-back-button>
    <ion-title>Select what to search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img src="https://emrahce.files.wordpress.com/2011/01/mercek.jpg">
  <ion-row>
    <ion-label class="welcome">Welcome to Actopus!</ion-label>
  </ion-row>
  <ion-row>
    <ion-label>Explore famous users, brilliant events by clicking the buttons below.</ion-label>
  </ion-row>
  <ion-row>
    <ion-button routerLink="/search/user">User Search</ion-button>
  </ion-row>
  <ion-row>
    <ion-button routerLink="/search/event">Event Search</ion-button>
  </ion-row>
</ion-content>
