<ion-header>
  <app-toolbar [backButton]="true" [href]="'/feed'"></app-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col offset-md="4" size-md="4">
        <div class="search-results-overlay">
          <div *ngIf="currentSearchResult?.events" class="results-container">
            <ion-card *ngFor="let event of currentSearchResult?.events" class="result">
              <ion-item href="{{'/feed/' + event._id}}">
                <ion-avatar slot="start">
                  <img [src]="event.medias[0]">
                </ion-avatar>
                <ion-label>{{event.name}}</ion-label>
              </ion-item>
            </ion-card>
          </div>
          <div *ngIf="currentSearchResult?.users" class="results-container">
            <ion-card *ngFor="let user of currentSearchResult?.users" class="result">
              <ion-item href="{{'/public/profile/' + user._id}}">
                <ion-avatar *ngIf="user.images; else icon" slot="start">
                  <img [src]="user.images?.avatar">
                </ion-avatar>
                <ng-template  #icon>
                  <ion-icon name="contact"></ion-icon>
                </ng-template>
                <ion-label>{{user.name}}</ion-label>
              </ion-item>
            </ion-card>
          </div>
        </div>
      <!--
      <ion-tabs>
        <ion-tab tab="events">
          <div *ngIf="currentSearchResult?.events" class="results-container">
            <ion-list>
              <app-event-card *ngFor="let event of currentSearchResult?.events" [event]="event" class="result">
                {{event.name}}
              </app-event-card>
            </ion-list>
          </div>
        </ion-tab>
        <ion-tab tab="users">
          <div *ngIf="currentSearchResult?.users" class="results-container">
            <ion-list>
              <div *ngFor="let user of currentSearchResult?.users" class="result">
                {{user.name}}
              </div>
            </ion-list>
          </div>
        </ion-tab>
        <ion-tab-bar>

          <ion-tab-button selected-tab tab="events">
            <ion-label>Events</ion-label>
            <ion-icon name="microphone"></ion-icon>
            <ion-badge *ngIf="currentSearchResult?.events">{{currentSearchResult.events.length}}</ion-badge>
          </ion-tab-button>

          <ion-tab-button tab="users">
            <ion-label>Users</ion-label>
            <ion-icon name="people"></ion-icon>
            <ion-badge *ngIf="currentSearchResult?.users">{{currentSearchResult.users.length}}</ion-badge>
          </ion-tab-button>

        </ion-tab-bar>
      </ion-tabs>
      -->
    </ion-col>
  </ion-row>
</ion-content>
