.search-results-overlay{
  width: 100%;
}

.search-results{
  width: 100%;
}

.form-input{
  margin: 4px 2px;
}

.search-form{
  margin: 6px;
  padding: 10px;
  border: 4px solid rgba(var(--ion-color-light-rgb), 0.9);
  border-radius: 6px;
}

@media screen and (min-width: 992px){
  .form-input{
    margin: 12px 2px;
  }
}
