@import '../../events.module.scss';

.search-input {
  width: 100%;
  max-width: 600px;
  font-size: 2em;
  font-weight: bolder;
}

.search-input, .search-input:focus {
  border: 0;
  outline: none;
}

ion-badge {
  padding: 10px;
  margin: 5px;
  font-size: 1.1em;
}

ion-button {
  font-weight: bold;
}

span {
  font-size: 1.1em;
  font-weight: bold;
}

.map-container {
  min-width: 300px;
  position: relative;

  & > .button-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
  }
}
