<ion-header>
  <ion-toolbar class="toolbar">
    <div class="router-container">
      <div class="route-btns">
          <button routerLink="/profile" class="route-btn">PROFILE</button>
          <button routerLink="/feed" class="route-btn">FEED</button>
      </div>
      <div class="route-title">
          <p *ngIf="user && !sameUser">User Profile:</p>
          <p *ngIf="user && sameUser">Your public profile page:</p>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="user">
  <div class="container">
    <div class="profile">
      <div class="profile-img" [ngStyle]="{'background-image': 'url(' + user.images.avatar + ')'}">
          <div *ngIf="!sameUser" class="follow-div">
            <button [disabled]="isFollowing" (click)="follow()" class="follow">FOLLOW</button>
            <button [disabled]="!isFollowing" (click)="unfollow()" class="follow">UNFOLLOW</button>
          </div>
      </div>
      <div class="about">
        <p class="name"> {{user.name}} </p>
        <p class="email"> {{user.email}} </p>
        <div class="attr">
            <p class="title">FOLLOWERS</p>
            <p class="follower-no attr-val"> {{user.followers.length}} </p>
        </div>
        <div class="attr">
            <p class="title">FOLLOWING</p>
            <p class="following-no attr-val"> {{user.following.length}}</p>
        </div>
        <div class="attr">
            <p class="title">INTERESTS</p>
            <p class="following-no attr-val"> {{user.interests.length}}</p>
        </div>
        <div class="interests">
          <p *ngFor="let interest of user.interests"> {{interest}} </p>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
