<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col no-padding>

        <div class="event-wrapper" *ngIf="event; let e">
          <div class="event-bg">
            <img src="{{e.medias[0]}}" alt="{{e.name}}">
          </div>
          <div class="event-container">
            <div class="upper-container">
              <div class="image-container">
                <img src="{{e.medias[0]}}" alt="{{e.name}}">
              </div>
              <div class="title-container">
                <p class="date">
                  {{e.date | date:'dd MMM'}}
                </p>
                <p class="price">
                  <span *ngIf="e.price.amount == 0; else price_t">Free</span>
                  <ng-template #price_t>{{e.price.amount}} {{e.price.unit}}</ng-template>
                </p>
                <h1>{{e.name}}</h1>
                <p *ngIf="user; let u">
                  Organized by {{u.name}}
                </p>
              </div>
            </div>
            <div class="ticket-container">
              <p class="price" *ngIf="e.price.amount == 0; else price">Free</p>
              <ng-template #price>
                <p class="price">
                  {{e.price.amount}} {{e.price.unit}}
                </p>
              </ng-template>
              <ion-button expand="block" color="secondary">Attend</ion-button>
            </div>
            <div *ngIf="e.artists && e.artists.length > 0" class="detail-container performer">
              <div class="icon-container">
                <ion-icon name="microphone"></ion-icon>
              </div>
              <div class="inner-container">
                <h3>Performers</h3>
                <div *ngFor="let artist of e.artists" class="artist">
                  {{artist}}
                </div>
              </div>
            </div>
            <div class="detail-container datetime">
              <div class="icon-container">
                <ion-icon name="calendar"></ion-icon>
              </div>
              <div class="inner-container">
                <h3>Date and Time</h3>
                <p></p>
                <p>
                  {{e.date | date:'dd MMMM EEEE HH:mm, yyyy'}}
                </p>
                <p>
                  {{e.duration.length}} {{e.duration.length <= 1 ? e.duration.unit : e.duration.unit + 's'}}
                </p>
              </div>
            </div>
            <div class="detail-container location">
              <div class="icon-container">
                <ion-icon name="map"></ion-icon>
              </div>
              <div class="inner-container">
                <h3>Location</h3>
                {{e.locationConstruct.locationName}}
              </div>
            </div>
            <div class="detail-container description">
              <div class="icon-container">
                <ion-icon name="document"></ion-icon>
              </div>
              <div class="inner-container">
                <h3>Description</h3>
                {{e.description}}
              </div>
            </div>

            <div class="organizer-container">

            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-list *ngIf="event; let e">
    <ion-card>
      <ion-card-header>
        <h1>
          {{e.name}}
        </h1>
      </ion-card-header>
      <img src="{{e.medias[0]}}">
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2>Description</h2>
      </ion-card-header>
      <ion-card-content>
        {{e.description}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2>Price</h2>
      </ion-card-header>
      <ion-card-content>
        {{e.price}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2>Organized By:</h2>
      </ion-card-header>
      <ion-card-content>
        {{e.owner}}
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <h2>Date:</h2>
      </ion-card-header>
      <ion-card-content>
        {{prettyDate(e.date)}}
      </ion-card-content>
    </ion-card>
  </ion-list>
  -->



</ion-content>
