<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/feed"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="isDataAvailable">
    <h2>{{(this.event | async).name }}</h2>
    <img src="https://picsum.photos/200/300/?random"/>
    <p>Created by {{(this.event| async).owner}}</p>
    <p>The description is {{(this.event | async).description}}</p>
  </ion-list>
</ion-content>
