<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/feed"></ion-back-button>
    <ion-title slot="start" >Profile</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding *ngIf="user">
  <div *ngIf="gotUserData">
    <ion-label>Welcome to profile page, {{user.name}}</ion-label>
    <hr>
    <ion-button slot="start" shape="round" routerLink="/profile/settings">
      Settings
    </ion-button>
    <hr>
    <ion-button  slot="end" shape="round" routerLink="/profile/timeline">
      Timeline
    </ion-button>
    <hr>
    <ion-button slot="end" shape="round" routerLink="/profile/public/{{userId}}"> Go to my public page</ion-button>
    <hr>
  </div>
  <ion-spinner *ngIf="!gotUserData" class="bubbles"></ion-spinner>

</ion-content>

