<ion-header>
    <app-toolbar></app-toolbar>
</ion-header>
<ion-content padding *ngIf="user">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" offset-md="4" size-md="4">
        <div *ngIf="gotUserData">
          <ion-label>{{user.name}}</ion-label>
          <hr>
          <ion-button slot="start" shape="round" routerLink="/profile/settings">
            Settings
          </ion-button>
          <hr>
          <ion-button  slot="end" shape="round" routerLink="/profile/timeline">
            Timeline
          </ion-button>
          <hr>
          <ion-button slot="end" shape="round" routerLink="/profile/public/{{userId}}"> Go to my public page</ion-button>
          <hr>
        </div>
        <ion-spinner *ngIf="!gotUserData" class="bubbles"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

