@import '../../../../theme/custom_variables';

ion-label{
  font-size: 2em;
}

ion-content, .child-container{
  margin-bottom: $menu-height;
}

.top-container{
  background-color: var(--ion-color-primary);
  color: white;
  padding-top: 20px;
  padding-bottom: 10px;
}

.image-container{
  width: 30%;
  margin-left: 35%;
}

.top-container h1{
  text-align: center;
  font-weight: bold;
}

.image-container img{
  width: 100%;
  border-radius: 100%;
}

.top-container .detail{
  text-align: center;
}

.interest-detail span{
  padding: 4px;
  border-radius: 4px;
  background-color: rgba(var(--ion-color-tertiary), 0.5);
}
.tabs-container{
  width: 100%;
}

.tab{
  width: calc(100%/3);
  float: left;
  box-sizing: border-box;
  background-color: var(--ion-color-primary);
  padding: 10px 0;
  text-align: center;
}

.tab a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.tab:first-child{
  border-right: 2px solid white;
}

.tab:last-child{
  border-left: 2px solid white;
}
