// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/angular-text-input-highlight/text-input-highlight.css";

@import "./theme/custom_variables";

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

/* Form elements */

ion-label{
  z-index: 1;
  font-size: 0.8em;
  color: $app-input-label-color;
  padding-left: 8px;
}
ion-textarea{

}

.ng-valid:not(form)  {

}
.modalClass{
  background: #FFFF99;
}

.ng-dirty.ng-invalid:not(form)  {

}
.notify{
  font-size: 0.8em;
  word-wrap: break-word;
}

.popover .popover-content {
  min-width: 350px;
}

