// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
.ng-valid:not(form)  {
  border-bottom:2px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-bottom:2px solid Tomato /* red */
}
.notify{
  font-size: 0.7em;
}
