// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/custom_variables";

/* Form elements */


ion-input, ion-textarea, ion-datetime, ion-select{
  border: 2px solid var(--ion-color-medium);
  border-radius: 4px;
  background-color: var(--ion-color-light);
  padding-left: 8px!important;
}

ion-label{
  z-index: 1;
  font-size: 0.8em;
  color: $app-input-label-color;
  padding-left: 8px;
}
ion-textarea{

}

.ng-valid:not(form)  {

}

.ng-dirty.ng-invalid:not(form)  {

}
.notify{
  font-size: 0.8em;
  word-wrap: break-word;
}


@media screen and (max-width: 576px){
  ion-content{
    --padding-bottom: $menu-height;
  }
}

ion-item{
  --highlight-color-focused: transparent;
  --border-color: transparent;
  --highlight-color-invalid: transparent;
  --highlight-color-valid: transparent;
}

