<ion-content scrollY="false" color="light" padding>
  <div class="auth-container">
    <div class="icon-container">
      <img src="resources/icon.png">
    </div>

    <div class="form-container" margin padding>
      <form [formGroup]="form" (ngSubmit)="register()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked"><b>Name</b></ion-label>
            <ion-input type="text" placeholder="Name" formControlName="name" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"><b>Email</b></ion-label>
            <ion-input type="email" placeholder="Email" formControlName="email" value=""></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked"><b>Password</b></ion-label>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
        </ion-list>

        <ion-button type="submit" [disabled]="!form.valid" expand="block">Sign up</ion-button>
      </form>
    </div>

    <div class="form-container" margin>
      <p text-center class="auth-text">Already a user? <a color="secondary" [href]="'/auth/signin'">Login here.</a></p>
    </div>
  </div>
</ion-content>
