<ion-content padding>
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-list>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" placeholder="Email" formControlName="email" value=""></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating primary>Password</ion-label>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" [disabled]="!form.valid">Sign in</ion-button>
    <ion-button color="secondary" [href]="'/auth/signup'">Sign up</ion-button>
  </form>
</ion-content>
