<ion-content color="light" padding>
  <div class="auth-container">
    <div class="icon-container">
      <img src="assets/logo.png">
    </div>

    <div class="form-container" margin padding>
      <form [formGroup]="form" (ngSubmit)="login()" (keyup.enter)="form.valid && login()">
        <ion-list>
          <ion-item>
            <ion-label position="stacked"><b>Email</b></ion-label>
            <ion-input type="email" placeholder="Email" formControlName="email" value=""></ion-input>
          </ion-item>
          <ion-label text-wrap class="notify" *ngIf="this.form.get('email').dirty && !this.form.get('email').valid">Your e-mail should include a name, @ sign, and a domain afterwards.</ion-label>
          <ion-item>
            <ion-label  position="stacked">
              <b>Password</b>
            </ion-label>
            <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
          </ion-item>
          <ion-label text-wrap class="notify" *ngIf="this.form.get('password').dirty && !this.form.get('password').valid">Your password should consist of at least 8 characters.</ion-label>
        </ion-list>
        <ion-button type="submit" [disabled]="!form.valid" expand="block">Sign in</ion-button>
      </form>
    </div>

    <div class="form-container" margin>
      <p text-center class="auth-text">New to Actopus? <a color="secondary" [routerLink]="'/signup'">Create an account.</a></p>
      <p text-center class="auth-text">  Forgot password? <a color="secondary" [routerLink]="'/auth/forgot-password'">Click here.</a></p>
    </div>
    <p text-center padding class="auth-text">Copyright 2018 @Actopus</p>
  </div>
</ion-content>
