@import '../../../events/events.module';

.ago-container{
  text-align: right;
  font-size: 1em;
  color: var(--ion-color-medium);
  vertical-align: bottom;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-container {
  position: relative;
  border: 2px solid var(--ion-color-medium);
  margin-bottom: 10px;

  .tags-container {
    position: absolute;
    right: 0px;
    margin-top: 5px;
    margin-right: 5px;
    z-index: 1;

    .tag {
      display: block;
      float: right;
      clear: both;
      background-color: rgba(var(--ion-color-secondary-rgb), 0.9);
      color: white;
      padding: 6px 8px;
      margin-bottom: 8px;
      border-radius: 4px;
      font-size: 0.9em;
      font-weight: bold;
    }
  }

  .media-container {
    position: relative;
    z-index: 0;
  }

  .date, .location{
    font-size: 1em;
    margin: 5px 0;
  }
}

h2{
  font-size: 1.2em;
  margin: 10px 0;
}

@media screen and (min-width: 768px){
  .price, .artist{
    padding: 4px 8px;
    margin-bottom: 16px;
    right: 8px;
    font-size: 1em;
  }
}
