
/* FORM VARIABLES */
$app-input-bg-color: rgba(242, 239, 239, 0.6);
$app-input-border-color: rgb(201, 199, 199);
$app-input-label-color: black;
$color-light-gray: rgb(214, 209, 209);

/* Menu Variables */
$menu-height: 50px;

/* Media variables */
$media-border-radius: 0px;
$media-max-height: 300px;
