// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #BB073B;
  --ion-color-primary-rgb: 187,7,59;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #a50634;
  --ion-color-primary-tint: #c2204f;

  --ion-color-secondary: #00B749;
  --ion-color-secondary-rgb: 0,183,73;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #00a140;
  --ion-color-secondary-tint: #1abe5b;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #04ce18;
  --ion-color-success-rgb: 4,206,24;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #04b515;
  --ion-color-success-tint: #1dd32f;

  --ion-color-warning: #f7c500;
  --ion-color-warning-rgb: 247,197,0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255,255,255;
  --ion-color-warning-shade: #d9ad00;
  --ion-color-warning-tint: #f8cb1a;

  --ion-color-danger: #ed0707;
  --ion-color-danger-rgb: 237,7,7;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d10606;
  --ion-color-danger-tint: #ef2020;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-grid-padding:               0px;

  --ion-grid-padding-xs:            0px;
  --ion-grid-padding-sm:            0px;
  --ion-grid-padding-md:            0px;
  --ion-grid-padding-lg:            0px;
  --ion-grid-padding-xl:            0px;

  --ion-grid-column-padding:        0px;

  --ion-grid-column-padding-xs:     0px;
  --ion-grid-column-padding-sm:     0px;
  --ion-grid-column-padding-md:     0px;
  --ion-grid-column-padding-lg:     0px;
  --ion-grid-column-padding-xl:     0px;
}
